<nav mat-tab-nav-bar>
  <!-- <a mat-tab-link [active]="true" routerLink="/airports-list">airports</a>
  <a mat-tab-link routerLink="/pilots-list">pilots</a>
  <a mat-tab-link routerLink="/airplanes-list">airplanes</a> -->
  <a mat-tab-link
           *ngFor="let routeLink of routeLinks; let i = index;"
           [routerLink]="routeLink.link"           
           (click)="activeLinkIndex = i"
           [active]="activeLinkIndex === i" >
            {{routeLink.label}}
  </a>
</nav>

<router-outlet></router-outlet>